:root {
    /* Colors */
    --color-state-300: #D5E1EF; 
    --color-state-500: #68778D;
    --color-state-900: #1F314F;
    --color-white: #FFFFFF;

    /* Spacing */
    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;
}

@font-face {
    font-family: 'Text Prefit 1';
    src: url('fonts/Outfit-Bold.ttf') format('truetype');
    font-weight: bold;
    line-height: 120%;
    letter-spacing: 0;
}

@font-face {
    font-family: 'Text Prefit 2';
    src: url('fonts/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.2px;
}

* { 
    font-family: 'Text Prefit 2';
}

body { background-color: var(--color-state-300); }
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
}
.card__element {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: 0px 1px 10px rgba(100, 100, 100, 0.25); 
    width: 320px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* padding: var(--spacing-200); */
    padding-top: var(--spacing-200);
    padding-bottom: var(--spacing-500);
}
.card__element--images {
    width: 288px;
    height: 288px;
    /* margin: var(--spacing-200); */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.card__element--primary {
    font-family: 'Text Prefit 1';
    font-size: 22px;
    text-align: center;
    width: 288px;
    color: var(--color-state-900);
    padding-top: var(--spacing-200);
    padding-bottom: var(--spacing-200);
}
.card__element--secondary {
    font-family: 'Text Prefit 2';
    font-size: '15px';
    text-align: center;
    width: 280px;
    color: var(--color-state-500);
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }