/* 1 rem = 16px */

:root {
    /* Colors */
    --color-state-300: #D5E1EF; 
    --color-state-500: #68778D;
    --color-state-900: #1F314F;
    --color-white: #FFFFFF;

    /* Spacing */
    --spacing-500: 40px;
    --spacing-300: 24px;
    --spacing-200: 16px;
}

@font-face {
    font-family: 'Text Prefit 1';
    src: url('fonts/Outfit-Bold.ttf') format('truetype');
    font-weight: bold;
    line-height: 120%;
}

@font-face {
    font-family: 'Text Prefit 2';
    src: url('fonts/Outfit-Regular.ttf') format('truetype');
    font-size: 1rem;
    font-weight: 400;
    line-height: 140%;
}

* { 
    font-family: 'Text Prefit 2', sans-serif;
    letter-spacing: 0.0125rem;
}

body { background-color: var(--color-state-300); }
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95vh;
}
.card__element {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: 0 1.56rem 1.56rem rgba(0, 0, 0, 0.0477); 
    width: 20rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    padding-top: var(--spacing-200);
    padding-bottom: var(--spacing-500);
}
.card__images {
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.card__element--images {
    width: 18rem;
    height: 18rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.625rem;
}
.card__element--primary {
    font-family: 'Text Prefit 1', sans-serif;
    font-size: 1.375rem;
    text-align: center;
    width: 18rem;
    color: var(--color-state-900);
    padding-top: var(--spacing-200);
    padding-bottom: var(--spacing-200);
    letter-spacing: 0;
}
.sr-only {
    position: absolute;
    width: 0.06rem;
    height: 0.06rem;
    padding: 0;
    margin: -0.06rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.card__element--secondary {
    font-family: 'Text Prefit 2', sans-serif;
    font-size: 1rem;
    text-align: center;
    width: 17.5rem;
    color: var(--color-state-500);
}
.copyright {
    text-align: center;
    margin: 0
}
.attribution { font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }